table.colwidths-auto td {
    width: 50%
}

article.pytorch-article .wy-table-responsive {
  overflow: auto;
  font-size: 80%
  margin-bottom: 0rem;
}
article.pytorch-article .wy-table-responsive table thead tr {
  border-bottom: 2px solid #6c6c6d;
}
article.pytorch-article .wy-table-responsive table thead th {
  /* text-align: center; */
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
article.pytorch-article .wy-table-responsive table tbody .row-odd {
  background-color: #f3f4f7;
}
article.pytorch-article .wy-table-responsive table tbody td {
  color: #6c6c6d;
  white-space: normal;
  padding: 0.9375rem;
  font-size: 1rem;
  border-bottom: #e4e4e4 1px solid;
}
article.pytorch-article .wy-table-responsive table tbody td .pre {
  background: #ffffff;
  color: #2980b9;
  font-size: 87.5%;
}
article.pytorch-article .wy-table-responsive table tbody td code {
  font-size: 87.5%;
}

.header-logo {
    background-image: url("../images/logo.svg");
    background-size: 300px 200px;
    height: 200px;
    width: 300px;
    top: -80px;
    left: -40px;
}

.two-column-table-wrapper {
    width: 50%;
    max-width: 300px;
    overflow-x: auto;
}

.two-column-table-wrapper .highlight {
    width: 1500px
}
