table.colwidths-auto td {
    width: 50%
}

.header-logo {
    background-image: url("../images/logo.svg");
    background-size: 300px 200px;
    height: 200px;
    width: 300px;
    top: -80px;
    left: -40px;
}

.two-column-table-wrapper {
    width: 50%;
    max-width: 300px;
    overflow-x: auto;
}

.two-column-table-wrapper .highlight {
    width: 1500px
}
