table.colwidths-auto td {
    width: 50%
}

.header-logo {
    background-image: url("../images/logo.svg");
    background-size: 200px 84px;
    height: 84px;
    width: 200px;
    margin-bottom: 20px;
}

.two-column-table-wrapper {
    width: 50%;
    max-width: 300px;
    overflow-x: auto;
}

.two-column-table-wrapper .highlight {
    width: 1500px
}
